.form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="number"],
input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
button[type="Register"] {
  width: 100%;
  padding: 10px;
  background: #9e5919;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
button[type="Register"]:hover {
  background: #e4543a;
}

button[type="submit"]:hover {
  background: #0d47a1;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
